.popup__form-card {
  margin: 0 auto;
  border: none;
}

@media (max-width: 767px) {
  .popup__form-card {
    width: 238px;
    padding: 0 22px 0 22px;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
}
